* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /* Black background */
    font-family: 'Anton', sans-serif;
    /* Custom font */
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #000;
    /* Black background */
}

.l-debug {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    /* Black background for debug */
    color: #FFF;
    /* White text color for debug */
    font-size: 18px;
    padding: 5px;
}

.l-btn {
    position: fixed;
    top: 20vw;
    left: 20vw;
    width: 10vw;
    height: 10vw;
    background-color: #FFF;
    /* White button background */
    color: #000;
    /* Black button text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.-none {
    display: none;
}

.js-height {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 2000vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4vw;
    mix-blend-mode: difference;
}

p {
    color: #FFF;
    /* White text for p */
    font-size: 30vw;
    /* Very large font size */
    letter-spacing: 0em;
}

.text-container {
    position: relative;
    text-align: center;
    font-size: 2rem;
    /* Smaller font size for text */
    color: hotpink;
    /* Text color set to hotpink */
    text-transform: uppercase;
    /* All text will appear in uppercase */
}

.text {
    position: relative;
    display: inline-block;
    /* Ensures the black rectangle only covers the text */
    background-color: black;
    /* Black rectangle behind text */
    color: rgb(255, 255, 255);
    /* Text color */
    padding: 8px 16px;
    /* Padding around text */
    opacity: 0;
    /* Initial opacity for animation */
    animation: fade 10.5s infinite;
    /* 6 texts * 1.5s each + 1.5s delay */
}